[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptvsd = "*"
pylint-django = "*"
pylint = "*"
autopep8 = "*"
pep8 = "*"

[packages]
psycopg2-binary = "*"
django-configurations = "*"
python-dotenv = "*"
djangorestframework = "*"
requests = "*"
django-filter = "*"
django-simple-history = "*"
bovespa = "*"
fundamentos = "*"
pandas-datareader = "*"
yfinance = "*"
matplotlib = "*"
quandl = "*"
bs4 = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
gspread = "*"
oauth2client = "*"
gunicorn = "*"
django = "==3.2"
django-admin-rangefilter = "*"
install = "*"
django-admin-list-filter-dropdown = "*"

[requires]
python_version = "3.9"
